doctype html
html(lang="en")
 head
  title Timestamp API
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/css/style.css')
 body
  #container
   h1 Timestamp API by Mladen
   p Enter parameter at the end of URL in form of timestamp or in natural language form. You will recieve JSON object with both forms of that date.
   p Example:
    span.code https://camper-api-project-mladenlo.c9users.io/1450137600